<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<main id="projects">
    <section class="hero">
        <h1><span class="accent-magenta">Projecten.</span><br>Aan de bak!</h1>
    </section>

    <form action="/new" method="post">
        <label>
            Pagina URL: 
            <input type="url" name="url" id="url" value="<%= locals.values?.url ?? '' %>" >
        </label>
        <label>
            Partner: 
            <select name="websiteId" id="websiteId" value="<%= locals.values?.websiteId ?? '' %>">
                <% data.websites.forEach(website => { %>
                    <option value="<%= website.id %>">
                        <%= website.titel %>
                    </option>
                <% }) %>
            </select>
        </label>

        <button type="submit">Opslaan</button>
    </form>

    <%- include('./partials/secundairy-buttons.ejs') %>

</main>

<%- include('./partials/foot.ejs') %>