<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<main id="projects">
    <section class="hero">
        <h1><span class="accent-magenta">Projecten.</span><br>Aan de bak!</h1>
    </section>

    <section class="filter-section">
        <!-- <h2>Filters</h2> -->
        <form action="/projects" method="post">
            <label>
                Pagina URL: 
                <input required type="url" name="url" id="url" value="<%= locals.values?.url ?? '' %>" >
            </label>
            <label> 
                Partner: 
                <select required name="websiteId" id="websiteId" value="<%= locals.values?.websiteId ?? '' %>">
                    <% websitesData.forEach(website => { %>
                        <option value="<%= website.id %>">
                            <%= website.titel %>
                        </option>
                    <% }) %>
                </select>
            </label>
    
            <button type="submit">Opslaan</button>
        </form>
        <button class="primair" id="new-project-button" hidden>nieuw project</button>
    </section>

    <section class="projects-overview">
        <div class="all-projects-heading">
            <h2>Alle projecten</h2>
            <form id="sorter" method="get" action="/projects">
                    <label>Sorteren op: 
                        <select name="sort">
                            <% for (let sortOption of sortOptions) { %>
                                <option value="<%= JSON.stringify(sortOption) %>" <% if (JSON.stringify(currentSort) === JSON.stringify(sortOption)) { %>selected<% } %>><%- sortOption.label %></option>
                            <% } %>
                        </select>
                    </label>
                    <button class="primair">OK</button>
                </form>
            </div>
            
        </div>
        <div class="all-projects">
            <% allProjectsData.forEach(url => { %>
                <section class="project">
                    <img class="open-icon" src="/images/svg/open.svg" alt="">
                    <a class="to-toolboard" href="/toolboard?id=<%= url.id %>" title="Open <%= url.url %> van <%= url.website.titel %> op het Toolboard"></a>

                    <div class="project-summary">
                        <img width="54" src="<%= `${faviconAPI}${url.url}/&size=256` %>" alt="">
                        <h3>
                        <%= url.website.titel %>
                    </h3>
                    <a href="<%= url.url %>">
                        <%= url.url %>
                    </a>
                    </div>

                    <% let progress; %>
                         <% if (url.checks.length != 0) { %>
                            <% progress = url.checks[0].succescriteria.length %> 
                            <% } else { %>
                                <% progress = 0; %>
                                <% } %>

                    <div class="project-progress">
                        <progress value="<%= progress %>" max="64"></progress>
                    <p><%= progress %> van de 64</p>
                    </div>
                    
                    
                </section>
            <% }) %>
        </div>
    </section>

    <dialog id="new-project-dialog" hidden>

        <form action="/projects" method="post">
            <div class="dialog-heading">
                <h2>Maak nieuw project aan</h2>
        <button type="button" id="close"><img src="/images/svg/cancel.svg" alt=""></button>

            </div>

        <label>
            Pagina URL: 
            <input placeholder="https://gvb-online.nl/flex/" required type="url" name="url" id="url" value="<%= locals.values?.url ?? '' %>" >
        </label>
        <label> 
            Partner: 
            <select required name="websiteId" id="websiteId" value="<%= locals.values?.websiteId ?? '' %>">
                <% websitesData.forEach(website => { %>
                    <option value="<%= website.id %>">
                        <%= website.titel %>
                    </option>
                <% }) %>
            </select>
        </label>

        <button type="submit">Opslaan</button>
    </form>
    </dialog>
    
            
    

    <%- include('./partials/secundairy-buttons.ejs') %>

</main>

<%- include('./partials/foot.ejs') %>