<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<main id="projects">
    <section class="hero">
        <h1><span class="accent-magenta">Projecten.</span><br>Aan de bak!</h1>
    </section>

    <section class="filter-section">
        <h2>Filters</h2>
        <form action="/projects" method="post">
            <label>
                Pagina URL: 
                <input required type="url" name="url" id="url" value="<%= locals.values?.url ?? '' %>" >
            </label>
            <label> 
                Partner: 
                <select required name="websiteId" id="websiteId" value="<%= locals.values?.websiteId ?? '' %>">
                    <% websitesData.forEach(website => { %>
                        <option value="<%= website.id %>">
                            <%= website.titel %>
                        </option>
                    <% }) %>
                </select>
            </label>
    
            <button type="submit">Opslaan</button>
        </form>
        <button id="new-project-button" hidden>nieuw project</button>
    </section>

    <section class="projects-overview">
        <div class="all-projects-heading">
            <h2>Alle projecten</h2>
            <form id="sorter" method="get" action="/projects">
                    <label>Sorteren op: 
                        <select name="sort">
                            <option <% if(direction=="ASC" || !direction) {%> selected <%}%> value="ASC" value="titel">Partner A-Z</option>
                            <option <% if(direction=="DESC") {%> selected <%}%> value="DESC">Partner Z-A</option>
                        </select>
                    </label>
                    <button>OK</button>
                </form>
            </div>
            
        </div>
        <div class="all-projects">
            <% allProjectsData.forEach(url => { %>
                <section class="project">
                    <h3>
                        <%= url.website.titel %>
                    </h3>
                    <a href="<%= url.url %>">
                        <%= url.url %>
                    </a>
                </section>
            <% }) %>
        </div>
    </section>

    <dialog id="new-project-dialog" hidden>
        <form action="/projects" method="post">
        <label>
            Pagina URL: 
            <input required type="url" name="url" id="url" value="<%= locals.values?.url ?? '' %>" >
        </label>
        <label> 
            Partner: 
            <select required name="websiteId" id="websiteId" value="<%= locals.values?.websiteId ?? '' %>">
                <% websitesData.forEach(website => { %>
                    <option value="<%= website.id %>">
                        <%= website.titel %>
                    </option>
                <% }) %>
            </select>
        </label>

        <button type="submit">Opslaan</button>
        <button id="close">Annuleer</button>
    </form>
    </dialog>
    
            
    

    <%- include('./partials/secundairy-buttons.ejs') %>

</main>

<%- include('./partials/foot.ejs') %>