<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<main id="toolboard">
    <section class="hero">
        <h1><span class="accent-magenta">Het Toolboard.</span><br>Check!</h1>
    </section>
    
    <section id="principes">
        <h2><span class="accent-magenta">Principes. </span>En richtlijnen</h2>
    
        <% principesData.principes.forEach(principe=> { %>
            <article class="principe" id="<%= principe.titel.toLowerCase() %>">
                <section class="inleiding">
                    <h3><span class="accent-magenta">
                            <%= principe.titel %>.
                        </span>Principe <%= principe.index %>
                    </h3>
                    <%- principe.beschrijving.html %>
                </section>
                <section class="richtlijnen">
                    <% principe.richtlijnen.forEach(richtlijn=> { %>
                        <details>
                            <summary>
                                <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                                        fill="black" />
                                </svg>
                                <h4>Richtlijn <%= richtlijn.index %><br>
                                        <%= richtlijn.titel %>
                                </h4>
                                <p class="status">onbewerkt</p>
                            </summary>
                            <%- richtlijn.uitleg.html %>
                            
                            <section class="succescriteria">
                                <% richtlijn.succescriteria.forEach(succescriterium=> { %>
                                    <details>
                                        <summary>
                                            <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                                                    fill="black" />
                                            </svg>
                                            <h5>
                                                <%= `${succescriterium.index} ${succescriterium.titel} niveau ${succescriterium.niveau}` %>
                                            </h5>
    
                                            <label>
                                                <input type="checkbox"
                                                <% checkedProjectSuccescriteria.forEach(checkedProjectSuccescriterium => { %>
                                                    <% if(checkedProjectSuccescriterium.id == succescriterium.id) { %>
                                                        checked
                                                        <% } %>
                                                <% }) %>
                                                >
                                            </label>
                                        </summary>
                                        <%= succescriterium.id %>
                                    </details>
                                    <% }) %>
                            </section>
                                
                        </details>
                        <% }) %>
                </section>
            </article>
            <% }) %>
    </section>

    <nav id="side-nav">
        <h2><span class="accent-magenta">Snel naar.</span> En progressie</h2>
        <ol>
            <% principesData.principes.forEach(principe => { %>
                <li>
                <a class="principe-link" href="#<%= principe.titel.toLowerCase() %>">
                    <section class="content">
                        <img src="/images/svg/<%= principe.titel.toLowerCase() %>-icon.svg" alt="" width="30" height="48">
                        <section class="principe-titel">
                            <h3 class="accent-magenta"><%= principe.titel %></h3>
                            <h4>Principe <%= principe.index %></h4>
                        </section>
                    </section>
    
                    <% var total = 0; %>
                    <% principe.richtlijnen.forEach(function(richtlijn) { %>
                    <% total += richtlijn.succescriteria.length; %>
                    <% }) %>
    
                    <section class="principe-progressie">
                        <progress id="<%= principe.titel.toLowerCase() %>-progressie-balk" value="0" max="<%= total %>"></progress>
                        <p>
                        <span id="<%= principe.titel.toLowerCase() %>-progressie">0</span> van de <%= total %>  
                     </p>
                    </section>
                </a>
            </li>
            <% }) %>
        </ol>
    </nav>

    <%- include('./partials/secundairy-buttons.ejs') %>

</main>

<%- include('./partials/foot.ejs') %>