<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<main>
    <%- include('./partials/principes.ejs') %>

    <%- include('./partials/principes-nav.ejs') %>

    <%- include('./partials/secundairy-buttons.ejs') %>

</main>

<%- include('./partials/foot.ejs') %>